.cont{
    position: fixed;
    z-index: 100;
    top: 40%;
    right: 25%;
    background:white;
    border: 2px;
    width: 50%;
    border: solid rgb(207, 37, 94);
    padding: 5%;
    padding-top: 1%;
    padding-left: 1%;
}
h3{
    position: absolute;
    right: 5%;
}
.body{
    position: relative;
}
.lbl{
    float: right;
    color: #d8d8d8;
    font-size: 15px;
}
.to{
    right: 2%;
}
.mail{
    background-color: rgb(207,37,94,0.06);
    color: gray;
    border-radius: 25px;
    margin-left:2%; 
    padding: 0 1%;
}
.x{
    cursor: pointer;
/* margin-left: 2%; */
   float: right;
   font-weight: bold;
   margin-left: 10px
}