<!-- {{document.nvDocumentName}} -->


<div #condiv class="img-container ">
  <img *ngIf="document.nvDocumentType && document.nvDocumentType.indexOf('image') != -1" [src]="baseFileUrl + document.nvDocumentName"
  [title]="document.nvComment"/>

  <audio *ngIf="document.nvDocumentType && document.nvDocumentType.indexOf('audio') != -1" controls poster="assets/images/audio-poster.gif">
    <source [src]="baseFileUrl + document.nvDocumentName" [type]="document.nvDocumentType">
  </audio>

  <video *ngIf="document.nvDocumentType && document.nvDocumentType.indexOf('video') != -1" controls [title]="document.nvComment">
    <source [src]="baseFileUrl + document.nvDocumentName" [type]="document.nvDocumentType">
  </video>

  <!-- <iframe *ngIf="document.nvDocumentType && document.nvDocumentType.indexOf('pdf') != -1" safeUrl #mySafeUrl="safeUrl" [src]="mySafeUrl.safeSrc"
    [elementSrc]="baseFileUrl + document.nvDocumentName + '#toolbar=0&scrollbar=0&navpanes=0'" scrollin="no" style="width:100%; height:100%"></iframe> -->

</div>