<div id="overlay"></div>
<div class="form ">
  <div class="row ">
      <div class="col-sm-8">
          <div *ngIf="currentPresence.iPresenceAvrech">
              <h3>עריכת נוכחות</h3>
          </div>
          <div *ngIf="currentPresence.iPresenceAvrech==null">
              <h3>הוספת נוכחות</h3>
          </div>
      </div>
      <div class="col-sm-4">
          <button class="btn-circle btn-save" (click)="savePresence()">שמור  </button>
          <button class="btn-circle btn-close" (click)="closeAndNoSave()">סגור  </button>
      </div>
  </div>
  <div class="content">
      <div class="row ">
          <div class="form-group">
              <label for="date">תאריך</label>
              <input  [(ngModel)]="currentPresence['dtDate']"  ngui-datetime-picker date-only="true" id="date" class="form-control" id="dtDate" name="dtDate">
          </div>
          
          <div class="form-group">
            <label for="sumHours">סה"כ שעות</label>
            <input type="number" [(ngModel)]="currentPresence.iHoursSum" id="sumHours" class="form-control">
        </div>
      </div>

  </div>
</div>

