<form class="form">
  <div class="row">
      <div class="form-group col-sm-3">
        <label for="last-name">שם משפחה:</label>
        <input type="text" name="last-name" class="form-control" maxlength="15" [(ngModel)]="user.nvLastName"/>
      </div>
      <div class="form-group col-sm-3">
        <label for="first-name">שם פרטי:</label>
        <input type="text" name="first-name" class="form-control" maxlength="15" [(ngModel)]="user.nvFirstName" />
      </div>

      <div class="form-group col-sm-3">
        <label for="mobile">נייד:</label>
        <input type="tel" name="mobile" class="form-control" [(ngModel)]="user.nvMobile" />
      </div>

      <div class="form-group col-sm-3">
        <label for="email">מייל:</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="user.nvEmail" />
      </div>

      <div class="form-group col-sm-3">
        <label for="user-name">שם משתמש:</label>
        <input type="text" name="user-name" class="form-control" maxlength="15" [(ngModel)]="user.nvUserName" />
      </div>

      <div class="form-group col-sm-3">
        <label for="password">סיסמה:</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="user.nvPassword" />
      </div>
      <div class="form-group col-sm-3">
        <label for="permittion">הרשאה:</label>
        <select [(ngModel)]="user.iPermissionId" class="form-control" name="iPermissionId">
          <option [value]="item.iSysTableRowId" *ngFor="let item of lst" [selected]="item.iSysTableRowId==user.iPermissionId">{{item.nvValue}}</option>
        </select>
      </div>
  </div>
</form>