<form class="form-horizontal row" *ngIf="user != null">

  <div class="form-horizontal">
    <label for="user-name">שם משפחה:</label>
    <input type="text" class="form-control" maxlength="15" [(ngModel)]="user.nvLastName" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-horizontal">
    <label for="user-name">שם פרטי:</label>
    <input type="text" class="form-control" maxlength="15" [(ngModel)]="user.nvFirstName" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-horizontal">
    <label for="user-name">נייד:</label>
    <input type="tel" class="form-control" [(ngModel)]="user.nvMobile" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-horizontal">
    <label for="user-name">מייל:</label>
    <input type="email" class="form-control" [(ngModel)]="user.nvEmail" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-horizontal">
    <label for="user-name">שם משתמש:</label>
    <input type="text" class="form-control" maxlength="15"  [(ngModel)]="user.nvUserName" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-horizontal">
    <label for="user-name">סיסמה:</label>
    <input type="password" class="form-control"  [(ngModel)]="user.nvPassword" [ngModelOptions]="{standalone: true}"/>
  </div>

  <label for="permittion">הרשאה:</label>
  <select name="permittion" class="col-sm-1"  [(ngModel)]="user.iPermissionId" [ngModelOptions]="{standalone: true}" class="form-control">
    <option [value]="item.iSysTableRowId" *ngFor="let item of lst">{{item.nvValue}}</option>
  </select>
</form>