
<div class="Show">
<label for="header">כותרת</label>
<input id="header" type="text" [(ngModel)]="settingsFrontend.GlobalHeader.nvTitle"/><br/>
<label for="VerMarch">טקסט ראשי</label>
<textarea id="VerMarch" rows="4" cols="50" [(ngModel)]="settingsFrontend.GlobalVerMarch.nvTitle">
    </textarea><br/>
  <label for="MarchSF">טקסט משני</label>
<textarea id="MarchSF" rows="4" cols="50"[(ngModel)]="settingsFrontend.GlobalMarchSF.nvTitle">
  
</textarea><br/>

</div>
<input type="button" value="שנה תצוגה" (click)="saveGlobalParams()">

