*{
    background-repeat: no-repeat;
    background-size: contain;
    
}
body{
    direction: rtl;
}
.select{
    background-color: rgb(207, 37, 94);
    color: white !important;
}

button:focus, input:focus, li:focus {
outline: none;
}



/* .navbar-collapse{
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(207, 
    37, 94);
   
} */

/* .tab{
    border-left: 1px solid #d8d8d8;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #808080;
} */
/*  */
.btn{
    cursor: pointer;
}
.btn-small{
    width: 4%;
    height: 60%;
    background-color: rgba(169, 169, 169, 0.37);
    margin-left: 1%;
    
}
.btn-circle1{
    width: 15%;
    height: 60%;
    border-radius: 30px;
    color: white;
   
}
.btn-pink{
    background-color:  rgb(207, 37, 94);
    margin-right: 10px;
    /* margin-left: 80px; */
}
.iconPen{
    width: 5%;
    height: 5%;
    cursor: pointer;
}

.btn-orange{
    background-color: orange;
}
.btn-circle{
    height: 80%;
    width: 40%;
    /* float: left; */
    border: 1px solid rgb(207, 37, 94);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    cursor: pointer;
}
.btn-save{
    background-color: rgb(207, 37, 94);
    color:white;
    margin-left: 1%;
}
.btn-close,.btn-add{
    background-color:white ;
    color:rgb(207, 37, 94);
}
.form-control{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.37);
}
.form-group>label
{
    float: right;
    color: #c87895;
    font-size: 12px;
    font-weight: bold;
}
.required-fields
{
    float: right;
    color: #fa005a;
    font-size: 16px;
    font-weight: bolder;
}



#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
 }

.header>.navbar-expand-sm>.navbar-nav>.nav-item{
    border: rgba(31, 0, 0, 0.185);
    border-left: 1px solid #d8d8d8;
    text-align: center;
    width:17%;
    height: 100%;
    cursor: pointer;
    padding-top: 1%;
}
.header>.navbar-expand-sm>.navbar-nav>.nav-item:hover{
  
    background-color:rgba(169, 169, 169, 0.37) ;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
 }
.header{
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(207, 37, 94);
}
.header>.navbar-expand-sm>.navbar-nav{
    height: 100%;
    width:100%;
}
.header>.navbar-expand-sm{
    width: 80%;
    padding: 0px;
    height: 100%;

}
.header>.navbar-expand-sm>.navbar-nav>.nav-item>.fullTab{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}


.content-area{
    width: 70%;
    margin: auto;
}
.name-area{
    margin: 20px;
    width: 100%;
    text-align: right;
    padding-right: 2%;
    font-size: 25px;
}
.btn-area{
    width: 20%;

}
.form-group{
    width: 20%;
    float: right;
   
    /* margin: auto; */
     margin-left: 2%;
    
}

.edit,.delete
{
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.edit{
    background-image: url("../src/assets/images/pencil.png");    
}
.delete{
    background-image: url("../src/assets/icons/garbage.png");    
}
.download{
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../src/assets/icons/download.png");
}
.avrechim{
    float: right;
    font-size: 20px;
    width: 69%;
    vertical-align: middle;
    text-align: right;
}
.component-name-header{
height: 80px;
/* margin: 10px; */
margin-top: 30px;
/* padding-right: 20px; */
}
.component-name{
    text-align: right;
    /* padding-right: 2%; */
    font-size: 25px;
}

.first-row{
    height: 50px;
}
.add-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 60%;
    
}
.excel{
    background-image: url("../src/assets/icons/file-excel.svg");    
    background-repeat: no repeat;
    background-size: contain;
}

.main-page{
    padding: 0 60px;
}

.main-table{
height: 650px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn-disabled{
    /* background-color: #888; */
    opacity: 0.5;
    cursor:no-drop;
}
.text-danger {
    position: absolute;
}
.pdf{
    background-image: url(assets/icons/pdf.png);
}