<div class="row">
  <div (click)="prevMonth()">
    <</div>
      <div (click)="nextMonth()">></div>
      <p>{{month}}/{{year}}</p>
      <table *ngIf="daysMonthNameArr[0][0]!=null">
        <thead>
          <th *ngFor="let d of daysNameArr" class="col-sm-1">{{d}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let i of daysMonthNameArr" class="tr">
            <td *ngFor="let d of i" class="col-sm-1">{{d.number}}
              <div *ngFor="let t of d.tasks" class="task" >
                <span class="label label-default">{{t.string}}</span>
                <div (click)="deleteTask(t.id)">x</div>
              </div>
                <!-- <div *ngFor="let t of d.tasks">{{t.iTaskType}}</div> -->
            </td>
          </tr>
        </tbody>
      </table>
      </div>

      <app-task *ngIf="openNewTask==true"></app-task>
      