<div class="row">
  <div (click)="prevMonth()" class="prev-next" title="חודש קודם">
    <</div>
      <p class="prev-next">{{month}}/{{year}}</p>
      <div (click)="nextMonth()" class="prev-next" title="חודש הבא">></div>
      <!-- <table *ngIf="daysMonthNameArr[0][0]!=null"> -->
      <table>
        <thead class="row col-sm-12">
          <th *ngFor="let d of daysNameArr">{{d}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let i of daysMonthNameArr;let ii=index" class="row col-sm-12 tr" >
            <td *ngFor="let d of i;let j=index" [class.dark]="ii%2 == 0" [class.first]="j == 0" [class.end]="ii ==end" [class.scroll]="d.len > 2">
              <!-- <div class="td"> -->
              {{d.number}}
              <div *ngFor="let t of d.tasks" class="task" (click)="editTask(t.id)"  >
                <span class="label label-default">{{t.string}}</span>
                <div class="x" (click)="deleteTask(t.id,t.i,t.j)"></div>
                <!-- flagPopUp=true; -->
              </div>
              <!-- </div> -->
              <!-- <div *ngFor="let t of d.tasks">{{t.iTaskType}}</div> -->
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="editTask1==true">
    <div class="newTask" >
      <div class="row ">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <button class="btn-circle btn-save" (click)="saveTask();flagPopUp=true" >שמור v </button>
          <button class="btn-circle btn-close" (click)="close()">סגור x </button>
        </div>
      </div>
      <div class="row">
        <h3>עריכת משימה</h3>
      </div>
      <app-task [task]="task" (close)="closeMe()" (refresh)="refreshMe($event)"></app-task>
    </div>
<!-- <app-vy-pop-up [isDouble]="true" [message]="message" *ngIf="flagPopUp" [header]="header" (close)="flag=false" (ok)="flag=false;deleteTask(t.id,t.i,t.j);"></app-vy-pop-up> -->
