<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

    <!-- Development -->
    <add key="DBServer" value="10.0.0.200" />
    <add key="AlternativeServer1" value="10.0.0.200" />
    <add key="DataBaseName" value="VenatnuYedidim" />
    <add key="Login" value="sa" />
    <add key="Password" value="Neomit5547" />
    <add key="TryBackToMainServer" value="0" />
    <add key="AlternativeServersNumber" value="0" />
    <add key="ConnectionServerID" value="1" />
    <add key="FileFolderPath" value="Files//" />    

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="999" maxRequestLength="2000000000" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webbinding" allowCookies="false" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000" maxBufferPoolSize="2000000000">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Service.Service" behaviorConfiguration="metadataBehaviour">
        <endpoint name="BasicHttpEndpoint" address="" behaviorConfiguration="webBehavior" bindingConfiguration="webbinding" binding="webHttpBinding" contract="Service.IService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept,cache-control" />
        <add name="Access-Control-Allow-Methods" value="PUT, GET, POST, DELETE, OPTIONS" />
        <add name="Access-Control-Max-Age" value="2000000000" />                       
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>