.btn-pink {
    background-color: rgb(207, 37, 94);
    /* border-radius: 50%; */
    /* color: #fff; */
}

.btn{
    /* width: 170px; */
    /* height: 45px; */
    border-radius: 30px;
    color: white;
    /* margin-top: 50px; */
}

.newStudent{
    background-color:  rgb(207, 37, 94);
    margin-right: 10px;
    margin-left: 80px;
}