


<div class=" row component-name-header">
        <div class="col-sm-4 component-name">תלמידים</div>
        <div class="actions col-sm-8">
    <button class="btn btn-small excel" (click)="downloadExcel()" value="Export to Excel"></button>
    <button class="btn btn-small" (click)="tableToPdf('תלמידים')">s</button>
    <button class="btn btn-circle1 btn-orange" (click)="flag=true"> איחוד כרטיסים</button>
    <button class="btn btn-circle1 btn-pink" routerLink="student/0/student-details">תלמיד חדש</button>
</div>
</div>

<div class="main-table">
 <app-vy-table #students [lstColumns]="lstColumns" [lstDataRows]="studentList" (clickCell)="editStudent($event)"></app-vy-table> 
</div>

<div *ngIf="flag==true"> 
    <app-cards-union (onClose)="flag=false"></app-cards-union>
</div> 



<!-- </div> -->