.nav{
    box-shadow: #a38888 15px 5px 15px;
    height:20%;   
    width: 100%;
    padding: 0%;
    background-color:lightgray;
}
/* .header{
    font-family: tahoma;
    font-size: 40px;
    text-align:left;
    color: deeppink

} */
.text{
width:100%;
height:350px ;
background-color: darksalmon;
}
.image{
    width:100%;
    height:350px ;
    background-color:midnightblue;  
}
.Image{
    width: 200px;
    height: 200px;
    float: right;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .ngx-gallery-thumbnail.ngx-gallery-active {  
  background-color: crimson;
}
ngx-gallery /deep/ .ngx-gallery-arrow {
    background-color: aquamarine;
}
ngx-gallery /deep/ ngx-gallery-image .ngx-gallery-arrow {
  background-color: black
}
ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow {
  background-color: chartreuse
}
ngx-gallery /deep/ ngx-gallery-preview .ngx-gallery-arrow {
    background-color: beige
}