
<div class="row" style="background-color: crimson">
    <div class="col-sm-6  div-text" >
  <header id="header">
      <button type="button" class="btn btn-default btn-sm">
  
        </button>
     
    <nav class="navbar navbar-expand-sm nav "> <h3  class="header" style="text-align: left" [innerHTML]="settingsFrontend.GlobalHeader.nvValue"></h3>
      <button type="button" mdbBtn color="primary" class="btn btn-circle1 btn-pink my-btn" (click)="goToLogin()" mdbWavesEffect>login</button>
  <a *ngIf="isManager" href="#" >לאתר הניהול</a>
      <div id="vmdbModal" *ngIf="divModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="divModal=false">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">מנהל</h4>
  
            </div>
            <div class="modal-body">
  
                    <form>
                        <div class="md-form">
                            <input type="text"  [(ngModel)]="nvUserName" class="form-control" id="recipient-name" placeholder="שם משתמש"  [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="md-form">
                            <input type="text"  [(ngModel)]="nvPassword" class="form-control" id="recipient-name" placeholder="שם סיסמא"  [ngModelOptions]="{standalone: true}" >
                        </div>
                    </form>
  
            </div>
            <div class="modal-footer">
  
              <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveLogin()">login</button>
            </div>
          </div>
        </div>
      </div>
      
    </nav>
  
   
      </header>
      <div id="VerMarch" class="VerMarch" ><span class="header" [innerHTML]="settingsFrontend.GlobalVerMarch.nvValue"></span></div>
      <div id="MarchSF" class="MarchSF" ><span class="header" [innerHTML]="settingsFrontend.GlobalMarchSF.nvValue"></span></div> -->
  </div>
  <div class="col-sm-6 div-image" >  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"(onOpen)="galleryOpened($event)"

    (onClose)="galleryClosed()"
    (onImageClicked)="galleryImageClicked($event)"
    (onImageChange)="galleryImageChanged($event)"
    (onDelete)="deleteImage($event)" #gallery></ngx-gallery>
  </div>

</div>














<!-- <header id="header">
    <button type="button" class="btn btn-default btn-sm">

      </button>
   
  <nav class="navbar navbar-expand-sm nav "> <h3  class="header" style="text-align: left" [innerHTML]="settingsFrontend.GlobalHeader.nvValue"></h3>
    <button type="button" mdbBtn color="primary" class="btn btn-circle1 btn-pink my-btn" (click)="goToLogin()" mdbWavesEffect>login</button>
<a *ngIf="isManager" href="#" >לאתר הניהול</a>
    <div id="vmdbModal" *ngIf="divModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="divModal=false">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">מנהל</h4>

          </div>
          <div class="modal-body">

                  <form>
                      <div class="md-form">
                          <input type="text"  [(ngModel)]="nvUserName" class="form-control" id="recipient-name" placeholder="שם משתמש"  [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="md-form">
                          <input type="text"  [(ngModel)]="nvPassword" class="form-control" id="recipient-name" placeholder="שם סיסמא"  [ngModelOptions]="{standalone: true}" >
                      </div>
                  </form>

          </div>
          <div class="modal-footer">

            <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveLogin()">login</button>
          </div>
        </div>
      </div>
    </div>
    
  </nav>

 
    </header>
    <div id="VerMarch" class="VerMarch" ><span class="header" [innerHTML]="settingsFrontend.GlobalVerMarch.nvValue"></span></div>
    <div id="MarchSF" class="MarchSF" ><span class="header" [innerHTML]="settingsFrontend.GlobalMarchSF.nvValue"></span></div>

    <div id="img" class="image">
     
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"(onOpen)="galleryOpened($event)"

      (onClose)="galleryClosed()"
      (onImageClicked)="galleryImageClicked($event)"
      (onImageChange)="galleryImageChanged($event)"
      (onDelete)="deleteImage($event)"></ngx-gallery>
   
    </div>
  -->