.nav{
    box-shadow: #a38888 15px 5px 15px;
    height:20%;   
    width: 100%;
    padding: 0%;
    background-color:lightgray;
}
.header1{
    font-family: tahoma;
    
    text-align:right;
    color: deeppink

}
.MarchSF{
    /* width:100%; */
    /* height:150px ; */
    background-color: chartreuse;  
}
.VerMarch p{
/* width:100%; */
/* height:150px ; */
/* background-color: darksalmon; */
margin:10%;
margin-top: 0;
    text-align: justify;
    text-align-last: center;
}
.image{
    width:100%;
    height:350px ;
    background-color:midnightblue;  
}
.Image{
    width: 200px;
    height: 200px;
    float: right;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .ngx-gallery-thumbnail.ngx-gallery-active {  
  background-color: rgb(207, 37, 94);
}
ngx-gallery /deep/ .ngx-gallery-arrow {
    background-color: aquamarine;
}
ngx-gallery /deep/ ngx-gallery-image .ngx-gallery-arrow {
  background-color: black
}
ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow {
  background-color: chartreuse
}
ngx-gallery /deep/ ngx-gallery-preview .ngx-gallery-arrow {
    background-color: beige
}
/* .div-text{
   background-color: blueviolet;height:1000px;
} */
div-image{
    background-color:aquamarine;height: 1000px;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    /* width: 100vw; */
}

.item {
    width: 49%;
    margin: 15px;
    border: 1px rgb(207, 37, 94) solid;
    border-radius: 4px;
}


.globalHeader{
    text-align: center;
    margin: 40px;
}

.login-btn:hover {
    color: #FFF;
    background-color: rgb(207, 37,94);
   

}

.login-btn{
    background-color: #fff;
    color: rgb(207, 37, 94);
    border: 1px solid rgb(207, 37,94);
    border-radius: 25px;
    margin: 50px;
    width: 30%;

}

.login {
    text-align: center;
}