
<header id="header">
    <button type="button" class="btn btn-default btn-sm">
   
      </button>
  <nav class="navbar navbar-expand-sm nav"> <span class="header">{{titaieName}}</span>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="divModal=true" mdbWavesEffect>Launch demo modal</button>

    <div id="vmdbModal" *ngIf="divModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="divModal=false">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">מנהל</h4>
          </div>
          <div class="modal-body">
             
                  <form>
                      <div class="md-form">
                          <input type="text"  [(ngModel)]="name" class="form-control" id="recipient-name" placeholder="שם משתמש"  >
                      </div>
                      <div class="md-form">
                          <input type="text" [(ngModel)]="password" class="form-control" id="recipient-name" placeholder="שם סיסמא"   >
                      </div>
                  </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="divModal=false" mdbWavesEffect>Close</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="divModal=false">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

    </header>
    <div id="text" class="text"> text</div>
    <div id="img" class="image"> 
      <table *ngFor="let img of listImage">
        <div class="row ">
<img class="Image col-sm-12" [src]="baseFileUrl + img"/>
</div>
      </table> 
            
    </div>
   
    <!-- <div class="container" *ngFor="let img of listImage">
        <div class="row">
          <div class="row">
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                         data-image="baseFileUrl + img"
                         data-target="#image-gallery">
                          <img class="img-thumbnail"
                               src="baseFileUrl + img"
                               alt="Another alt text">
                      </a>
                  </div>
              </div>
      
      
              <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="image-gallery-title"></h4>
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                              </button>
      
                              <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
 -->
