<form class="form">
  <div class="form-group">
  <label for='event-name'>שם הארוע</label>
  <input type="text" name='event-name' class="form-control" [(ngModel)]="event.nvName"/>
</div>

  <label for='event-place'>מקום הארוע</label>
  <input type="text" name='event-place'  [(ngModel)]="event.nvPlace"/>

  <label for='event-date'>תאריך</label>
  <input type="date" name='event-date'  [(ngModel)]="event.dtEventDate"/>

  <label for='event-comment'>הערות</label>
  <input type="text" name='event-comment'  [(ngModel)]="event.nvComments"/>

  <label for='event-for'>עבור</label>
  <select name="event-for">
    <option>תלמידים</option>
    <option>אברכים</option>
    <option>בוגרים</option>
    <option>כולם</option>
  </select>
</form>