<form class="form">
  <div class="row">
    <!-- <div class="col-sm-3"></div> -->
    <div class="form-group col-sm-3">
      <label for='event-name'>כותרת הארוע</label>
      <input type="text" name='event-name' class="form-control" [(ngModel)]="e.nvName" />
    </div>

    <div class="form-group col-sm-3">
      <label for='event-place'>מקום הארוע</label>
      <input type="text" name='event-place' class="form-control" [(ngModel)]="e.nvPlace" />
    </div>

    <div class="form-group col-sm-3">

      <label for='event-date'>תאריך</label>
      <input type="date" name='event-date' class="form-control" [ngModel] ="e.dtEventDate | date:'yyyy-MM-dd'" (ngModelChange)="e.dtEventDate = $event" />
      <!-- [(ngModel)]="e.dtEventDate" -->
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for='event-comment'>הערות</label>
      <textarea name='event-comment' [(ngModel)]="e.nvComments" class="form-control"></textarea>
    </div>
  </div>


  <!-- (onSave)="getFromChild($event)" -->
  <app-vy-multy-select #child *ngIf="!isDetails" [fullList]="sysTableRowList" [titleStr]="title" [inputTitle]="inputTitle" (onSave)="getFromChild($event)" ></app-vy-multy-select>

</form>