<p>
  avrech-details works!
</p>
<!-- <p *ngIf="id">
  {{id}}
</p> -->
<label for="firstName">שם פרטי</label>
<input type="text" id="firstName" value="{{avrech.nvFirstName}}"/>
<label for="firstName">שם משפחה</label>
<input type="text" id="firstName" value="{{avrech.nvLastName}}"/>
<label for="firstName">ת.ז</label>
<input type="text" id="firstName" value="{{avrech.nvIdentityCard}}"/>
<label for="firstName">טלפון נייד</label>
<input type="text" id="firstName" value="{{avrech.nvMobile}}"/>
<label for="firstName">מייל</label>
<input type="text" id="firstName" value="{{avrech.nvEmail}}"/>
<label for="firstName"> כתובת</label>
<input type="text" id="firstName" value="{{avrech.nvAddress}}"/>
<label for="firstName">עיר</label>
<input type="text" id="firstName" value="{{avrech.nvCity}}"/>
<label for="firstName">שם משתמש</label>
<input type="text" id="firstName" value="{{avrech.nvUserName}}"/>
<label for="firstName"> סיסמה</label>
<input type="text" id="firstName" value="{{avrech.nvLPassword}}"/>