<div class="form" *ngIf='avrech!=undefined'>
  <div class="form-group">
    <label for="firstName">שם פרטי</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvFirstName" class="form-control" />
  </div>
  <div class="form-group  ">
    <label for="firstName">שם משפחה</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvLastName" class="form-control" />
  </div>

  <div class="form-group  ">
    <label for="firstName">ת.ז</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvIdentityCard" class="form-control" />
  </div>

  <div class="form-group  ">
      <label for="firstName">טלפון</label>
      <input type="text" id="firstName" [(ngModel)]="avrech.nvPhone" class="form-control" />
    </div>

  <div class="form-group  ">
    <label for="firstName">טלפון נייד</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvMobile" class="form-control" />
  </div>

  <div class="form-group  ">
    <label for="firstName">מייל</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvEmail" class="form-control" />
  </div>

  <div class="form-group  ">
    <label for="firstName"> כתובת</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvAddress" class="form-control" />
  </div>

  <div class="form-group  ">
    <label for="firstName">עיר</label>
    <input type="text" id="firstName" [(ngModel)]="avrech.nvCity" class="form-control" />
  </div>

  <!-- <div class="form-group  ">
    <label for="firstName">שם משתמש</label>
    <input type="text" id="firstName" [(ngModel)]="userName" class="form-control" />
  </div>

  <div class="form-group  ">
    <label for="firstName"> סיסמה</label>
    <input type="text" id="firstName" [(ngModel)]="password" class="form-control" />
  </div> -->
</div>