

<div class="content-area">

    <div class="header row">
         
        <nav class="navbar navbar-expand-sm nav header-navbar col-7">
            <ul class="navbar-nav navbar-list row" *ngIf="currentComponent">
                <li [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventDetails') != -1}" class="nav-item col-4">
                    <div class="fullTab" routerLink="event-details">
                        פרטים
                    </div>
                </li>
                <li [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventParticipants') != -1}" class="nav-item col-4" *ngIf="isDetails">
                    <div class="fullTab" routerLink="event-participants">משתתפים

                    </div>
                </li>
                <li [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventMedia') != -1}" class="nav-item col-4"
                    *ngIf="isDetails">
                    <div class="fullTab" routerLink="event-media">
                        מדיה
                    </div>
                </li>

            </ul>



        </nav>
        <!-- isDisabled() -->
        <div class="col-3">
        <div>
            <button *ngIf="currentComponent.constructor.name.indexOf('EventDetails')!=-1" class="btn-circle btn-save" [ngClass]="{'disabled': !isDisabled() }" (click)="save()" [disabled]="!isDisabled()">שמור  </button>
         </div>
         <div>
            <button class="btn-circle btn-close" routerLink="/events">סגור  </button>
        </div>

        </div>
        <div class="name-area col-2">{{header}}</div>
   



    <router-outlet (activate)="onRouterOutletActivate($event)"> </router-outlet>
</div>
