  <div class="navbar-collapse row">
    <div  [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventDetails') != -1}" class="tab col-sm-1">
        <a class="control" routerLink="event-details">פרטים</a>
    </div>
    <div [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventParticipants') != -1}" class="tab col-sm-1">
        <a class="control" routerLink="event-participants"  *ngIf="isDetails==true">משתתפים</a>
    </div>

    <div [ngClass]="{'select': currentComponent.constructor.name.indexOf('EventParticipants') != -1}" class="tab col-sm-1">
      <a class="control" routerLink="event-media"  *ngIf="isDetails==true">מדיה</a>
  </div>
  </div>
<div class="col-sm-12 event-menu">
  <div class="name col-sm-4">{{header}}</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5"></div>
  <button *ngIf="isDetails==true" (click)="save()" class="btn">שמירה</button>
  <button routerLink="/events" class="btn">סגור</button>
</div>

<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>.