<form class="settingYeshiva" #form="ngForm">

  <button (click)="cancel()">סגור x </button>
  <button (click)="save()" [ngClass]="{'disabled': !isDisabled() }" [disabled]="!isDisabled()">שמור v </button>


  <div class="form-group">
    <label for='yeshiva-name'>שם מוסד:</label>
    <input class=inputYeshiva name='yeshiva-name' type="text" [(ngModel)]="yeshiva.nvYeshivaName" #name="ngModel" required/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="(name.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for='yeshiva-address'>כתובת:</label>
    <input class=inputYeshiva name='yeshiva-address' type="text" [(ngModel)]="yeshiva.nvAddress" #address="ngModel" required/>
    <div *ngIf="address.invalid && (address.dirty || address.touched)">
      <div *ngIf="(address.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for='yeshiva-city'>עיר:</label>
    <input class=inputYeshiva name='yeshiva-city' type="text" [(ngModel)]="yeshiva.nvCity" #city="ngModel" required/>
    <div *ngIf="city.invalid && (city.dirty || city.touched)">
      <div *ngIf="(city.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

 <div class="form-group">
    <label for='yeshiva-contact'>שם איש קשר:</label>
    <input class=inputYeshiva name='yeshiva-contact' type="text" [(ngModel)]="yeshiva.nvContact" #contact="ngModel" required/>
    <div *ngIf="contact.invalid && (contact.dirty || contact.touched)">
      <div *ngIf="(contact.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

   <div class="form-group">
    <label for='yeshiva-phone'>טלפון:</label>
    <input class="inputYeshiva" name='yeshiva-phone' type="text" [(ngModel)]="yeshiva.nvMobile" #phone="ngModel" required/>
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="(phone.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for='yeshiva-mobile'>מייל:</label>
    <input class=inputYeshiva name='yeshiva-mobile' type="text" [(ngModel)]="yeshiva.nvEmail" #mobile="ngModel" required/>
    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
      <div *ngIf="(mobile.errors.required)" class="text-danger text-right">
        <strong>שדה נדרש!</strong>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for='yeshiva-roleType'>תפקיד:</label>
    <select name='yeshiva-roleType' [(ngModel)]="yeshiva.iRoleType" #roleType="ngModel" required>
      <option *ngFor='let y of sysTableList' [value]="y.iSysTableRowId">{{y.nvValue}}</option>
    </select>
    <div *ngIf="roleType.invalid && (roleType.dirty || roleType.touched)">
        <div *ngIf="(roleType.errors.required)" class="text-danger text-right">
          <strong>שדה נדרש!</strong>
        </div>
      </div>
  </div>
</form>
