*{
    direction: rtl;
}
.settingYeshiva{
    position: fixed;
    z-index: 100;
    top: 40%;
    right: 20%;
    background:white;
    border: 2px;
    width: 60%;
    height: 30%;
    border: solid rgb(207, 37, 94);
    
}
.form-group {
    margin:5px;
}