

<div class="row first-row">
  <div class="add-area">
    <button class="btn-circle btn-add" (click)="addTask()"> הוספת משימה +</button>
  </div>
</div>


<div class="newTask">
  <h3>משימה חדשה</h3>
  <div class="row ">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <button class="btn-circle btn-save" (click)="save()">שמור v </button>
        <button class="btn-circle btn-close" (click)="close()">סגור x </button>
      </div>
    </div>
  <app-task></app-task>
</div>
<!-- *ngIf="task != null"  -->