h3{
    text-align: center;
    color:  rgb(207, 37, 94);
}
.labels{
    padding-top: 0.5%;
    padding-right: 8%;
}
.main-table{
    visibility: hidden;
}
.btn-save{
    cursor: pointer;
    margin-right: 48%;
}
.hidden{
    height: 50px;
}