/* .strip{
    background-color: rgb(197, 197, 197);
    height: 50px;
}
button{
    float: left;
    margin-left: 10px;
} */
.disabled {
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #D9D9D9;
}