<div class="name-area">{{title}}</div>

<div class="content-area">
  <div class="header row">
    <nav class="navbar navbar-expand-sm nav header-navbar">
      <ul class="navbar-nav navbar-list" *ngIf="currentComponent">
        <li [ngClass]="{'select': currentComponent.constructor.name.indexOf('UserDetails') != -1}" class="nav-item">
          <div class="fullTab" routerLink="user-details">
            פרטים אישיים
          </div>
        </li>

      </ul>
    </nav>

    <div class="btn-area">
      <button class="btn-circle btn-save" (click)="saveUser()">שמור V</button>
      <button class="btn-circle btn-close" routerLink="/users">סגור X</button>
    </div>
  </div>
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</div>