<!-- <h3>דו"ח משימות לאברך</h3><br/><br/> -->
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div class="form-group row">
          <label for="yeshivaName" class="col-6 lbl">בחר אברך :</label>
          <div class="col-6">
            <select #avrech class="form-control" id="avrechId" name="avrechName" (change)="selectAv($event); exist=true">
              <option disabled> בחר אברך </option>
              <option *ngFor="let av of avrechList">{{av.nvFirstName}} {{av.nvLastName}}</option>
          </select>
          </div>
          
        </div> 
        <div class="form-group row-sm-3 row">
        <label for="dateAdd" class="col-6 lbl" > מתאריך :</label>
        <div class="col-6">
        <input class="form-control" id="dtFrom" name="dtFrom" [(ngModel)]="fromDate" ngui-datetime-picker date-only="true" (focus)="exist=true"
        [ngModelOptions]="{standalone: true}"
          style='width: 160px'>
        </div>
        
        <!-- <input class="form-control" [(ngModel)]="currentMeeting['dtDate']" ngui-datetime-picker date-only="true" close-on-select="false"
        id="dtDate" name="dtDate"> -->
        <!-- [(ngModel)]="currentMeeting['dtDate']" ngui-datetime-picker date-only="true" -->
        
        </div>
        <div class="form-group row-sm-3 row">
        <label for="dateAdd" class="col-6 lbl"> עד תאריך :</label>
        <div class="col-6">
        <input class="form-control" id="dtTo" name="dtTo" [(ngModel)]="toDate" ngui-datetime-picker date-only="true"
        (change)="change=true" (focus)="exist=true" [ngModelOptions]="{standalone: true}"
          style='width: 160px'>
        </div>
        
        </div>
        
  </div>
  <div class="col-sm-3"></div>
  <button class="btn-circle btn-save" (click)="produceReport()">הפק דו"ח</button>
  <div class="row-sm-12" *ngIf="!exist"><span class="msg">לא נמצאו משימות ל{{avrech.value}} בין התאריכים: {{fromDate}}    -    {{toDate}}</span></div>

  <div class="main-table">
      <app-vy-table #tasks [lstColumns]="lstColumns" (clickCell)="click($event)" ></app-vy-table>
  </div>
  
</div>
