<div class="row component-name-header">
    <div class="col-sm-4 component-name">אברכים</div>
    <div class="actions col-sm-8">

        <button class="btn btn-small excel" (click)="tableToExcel(tId)" value="Export to Excel"></button>
        <button class="btn btn-small">s</button>
        <button class="btn btn-circle1 btn-orange"> שליחת מייל</button>
        <button class="btn btn-circle1 btn-pink" routerLink="student/0/student-details">אברך חדש</button>
    </div>
</div>

<app-vy-table #avrechim [lstColumns]="lstColumns" [lstDataRows]="avrechimList" (clickCell)="editAvrech($event)"></app-vy-table>



<!-- <table id="tId">
<tr>
        <td>4214</td>
        <td>020גגיי000000</td>
        <td>0556555555</td>
        <td>davidgmai</td>
</tr>
<tr>
    <td>2</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
</tr>
<tr>
    <td>3</td>
    <td>6</td>
    <td>9</td>
    <td>12</td>
</tr>
<tr>
    <td>4</td>
    <td>8</td>
    <td>12</td>
    <td>16</td>
</tr>
</table> -->



 <!-- <table id="tId">   
        <tr>
            <td>יאיר</td>
            <td>כהן</td>
            <td>020000000</td>
            <td>0556555555</td>
            <td>davidgmai</td>
        </tr>
        <tr>
            <td>ccc</td>
            <td>jghjghj</td>
            <td>020000000</td>
            <td>0527458745</td>
            <td>aaagmai</td>
        </tr>
        <tr>
            <td>ccc1111112222</td>
            <td>ddd</td>
            <td>020000000</td>
            <td>0556555555</td>
            <td>aaagmail</td>
        </tr>
</table> -->