<div class="name-area"> תלמידים | {{student.nvFirstName+" "+student.nvLastName}} </div>
<div class="content-area">
  <div class="header row">
    <nav class="navbar navbar-expand-sm nav header-navbar">
      <ul class="navbar-nav navbar-list" *ngIf="currentComponent">
        <li [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentDetails') != -1}" class="nav-item" routerLink="student-details">
          <span class="fullTab">
            פרטים אישיים
          </span>
        </li>
        <li *ngIf="flag!=0" [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentMeetings') != -1}" class="nav-item"
          routerLink="student-meetings">
          <span class="fullTab">פגישות

          </span>
        </li>
        <li *ngIf="flag!=0" [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentConversations') != -1}"
          class="nav-item" routerLink="student-conversations">
          <span class="fullTab">
            שיחות
          </span>
        </li>
        <li *ngIf="flag!=0" [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentEvents') != -1}" class="nav-item">
          <span class="fullTab" routerLink="student-events">
            ארועים שהשתתף
          </span>
        </li>
        <li *ngIf="flag!=0" [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentDocuments') != -1}" class="nav-item">
          <span class="fullTab" routerLink="student-documents">

            מסמכים
          </span>
        </li>
      </ul>



    </nav>
    <div class="btn-area">
      <button *ngIf="currentComponent.constructor.name.indexOf('StudentDetails') != -1"  class="btn-circle btn-save" (click)="save()">שמור v </button>
      <button class="btn-circle btn-close" routerLink="/students">סגור x </button>
    </div>
  </div>

  <router-outlet (activate)="onRouterOutletActivate($event)"> </router-outlet>
</div>
