
 .save, .close1{
    /* background-color: rgb(207, 37, 94); */
    height: 40px;
    width: 100px;
    float: right;
    border: 1px solid rgb(207, 37, 94);
    border-radius: 20px;
    text-align: center;
    color: rgb(207, 37, 94);
    text-decoration: none;
    padding-top: 5px;
} 
.save:hover, .close1:hover{
    background-color: rgb(207, 37, 94);
    color: white;
}
.disabled {
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #D9D9D9;
    color: rgb(207, 37, 94);
}
/* .nav-link{
    color: rgb(207, 37, 94) !important;
} */
