<!-- <h3>דו"ח ימי הולדת</h3><br/><br/> -->
<div class="row">
<div class="col-sm-4"></div>
<div class='form-group col-sm-4 row'>
    <label class="lbl col-6 labels">בחר חודש:</label>
<select #month class="col-6 form-control" (change)="choose(month)">
    <option [ngValue]="undefined" disabled >בחר</option>
  <option *ngFor="let m of monthesRegular">{{m}}</option>
</select>

</div>
<div class="col-sm-3"></div>
<button class="btn-circle btn-save" (click)="produceReport()">הפק דו"ח</button>
<div class="row-sm-12" *ngIf="!exist"><span class="msg">לא נמצאו תלמידים בחודש {{month.value}}</span></div>

<div class="main-table hidden">
    <app-vy-table #students [lstColumns]="lstColumns" [lstDataRows]="studentList" ></app-vy-table>
  </div>

</div>
