<div  class="vy-multy-select">
  <span class="choose-students"> בחר תלמידים</span>
  <div  class="multy-select"(click)="flag=!flag; openOrClose()"></div>
  <div class="open-list"(mouseover)="onOverFlag=true" (mouseleave)="onOverFlag=false" *ngIf="flag==true">
    <div>
      <input type="checkbox" value="selectAll"  [(ngModel)]="checkboxValueSelectAll" checked (change)="selectAll()">בחר הכל</div>
    <div>
      <!-- name="selectAll" id="selectAll"-->
      <input type="text" placeholder="חפש" class="search"[(ngModel)]="search" style="border: 1px solid black;" />
    </div>
    <div >
      <div *ngFor="let item of fullList|filter:search">
        <input type="checkbox"  [(ngModel)]="item['bMultySelectChecked']">
        <span  >{{item.nvFirstName}} {{item.nvLastName}} {{item.nvIdentityCard}}</span>
      </div>
    </div>
    <div *ngIf="onOverFlag==true" class="mouseover">
      <div *ngFor="let s of fullList|filterBMultySelectChecked">{{s.nvFirstName}} {{s.nvLastName}} {{s.nvIdentityCard}}<br/></div>
    </div>
  </div>
</div>