

    
<div class="ChoosTable col-sm-3 " style="float: right " [ngClass]="{'bottom': showOverlap}" >
<p>
 בחר טבלה
</p>
<!-- [(ngModel)]="Id" -->
<select (change)="getValues()" [(ngModel)]="idSysTableRow">
    <option *ngFor="let name of tableNames"  value={{name.iSysTableId}}>{{name.nvSysTableName}}</option>
</select>





<input type="button" value="הוספת ערך+" (click)="addNewValue()" class="btn-circle btn-add"/>


</div>
<div class="row" >
<div class="col-sm-8 myTable" style="float:left;">

<!-- SysTableService -->

<app-vy-table [lstColumns]="lstColumns" [lstDataRows]="Values" (clickCell)="editSysTableRow($event)"></app-vy-table>
<div>
   
</div>
</div>
</div>
<div class="edit"  *ngIf="divNewValue">
        <input type="text" [(ngModel)]="roeToadd.nvValue" [ngModelOptions]="{standalone: true}" class="form-control inp"/>
        <button (click)="saveNeeValue()" class="btn-circle btn-save btn">שמור</button>
        <button (click)="close()" class="btn-circle btn-close btn" >סגור</button> 
        
 </div>
        <div class="form edit" *ngIf="toEdit">
        <form>
     <input type="text" [(ngModel)]="row.nvValue" value={{row.nvValue}} class="form-control inp" [ngModelOptions]="{standalone: true}"/>
       <input type="submit" value="שמור" (click)="saveEditValue()" class="btn-circle btn-save btn"/>
    </form>
 </div>



<div class="div" *ngIf="showOverlap"></div>



       
        