.ChoosTable{
    float: right;

}
.divAddvalue{
    float: right;
}
.btnAddValue{
    border-radius:30%;
    border-color: hotpink;
   
}
.myTable{
    float: left;
    height: 550px;
}
.edit{
padding: 2%;
    position: fixed;
    z-index: 100;
    top: 40%;
    right: 25%;
    background:white;
    border: 2px;
    width: 40%;
    border: solid rgb(207, 37, 94);
    height: 40%;
}
.btn{

   height:50px;
   width: 100px; 
}
.inp{
    width: 300px; 
}
.container {
    position: relative;
}

.bottom {
    position: absolute;
   
   
   
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.pad-save{
   margin-top: 10px;
  
}
.pad-close{
    margin-top: 10px;
    margin-left: 10px;
 }
.div {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
height: 100%;
background-color:rgb(224, 221, 221)
    
}
.btn-circle {
    height: 10%;
    width: 15%;
 }
h3{
    text-align: right;
}
.btn-add{
    width: 60%;
    height: 30%;
    background-color: rgb(207, 37, 94);
    color: white;

}