
<div class="row component-name-header">
        <div class="col-sm-4 component-name"> מוסדות</div>
        <div class="actions col-sm-8">
            <button class="btn btn-small excel" (click)="downloadExcel()" value="Export to Excel"></button>
            <button class="btn btn-small">s</button>
            <button (click)="iYeshivaId = 0">מוסד חדש</button>
        </div>
    </div>

<div *ngIf="(iYeshivaId != null && !flag)">

    <app-setting-yeshiva #yeshivot [sysTableList]="sysTableList" [iYeshivaId]="iYeshivaId" (closeYeshiva)="close()"></app-setting-yeshiva>

</div>

<div class="main-table">
    <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="yeshivaList" (clickCell)="setYeshiva($event)"></app-vy-table>
</div>

<div *ngIf="flag" class="settingYeshivaDelete">
       <div>
            <p>
               האם אתה בטוח שברצונך למחוק מוסד זה?
            </p>
            <button (click)="delete()">כן</button>
            <button (click)="close()">לא</button>
        </div>
</div>
