*{
    direction: rtl;
}
.settingYeshiva{
    position: fixed;
    z-index: 100;
    top: 28%;
    right: 120px;
    left: 120px;
    background:lightgray;
    border: 2px;
}
.settingYeshivaDelete{
    position: absolute;
    z-index: 100;
    width: 20%;
    height: 100px;
    background:rgb(238, 233, 233);
    border:2px;
    top:30%;
    left: 500px;
    position: rtl;
}