<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmcJWztCYo2xInukOD2bnFp-lPK-IFuCA&libraries=places" asyncdefer></script> -->


<div class="background-logo">

  <div class="mx-auto col-sm-10 with-shadow ">

    <div class="col-sm-4 mx-auto d-flex flex-column align-items-center">
      <div class="small-logo">
        <img src="./assets/icons/logo.jpg" style='height: 239px;'>
      </div>
      <!-- <h1>ונתנו ידידים</h1>
      <h5>כולנו משפחה אחת</h5> -->

      <input type="text" name="user-name" [(ngModel)]="nvUserName" class="form-control usr-input" placeholder="שם משתמש">

      <input type="password" name="password" [(ngModel)]="nvPassword" class="form-control lock-input hide-password" passwordToggle
        placeholder="סיסמה">

      <div class="mt-4">
        <button class="btn btn-primary btn-pink" (click)="logIn()">כניסה</button>
      </div>
    </div>

    <!-- <img src="./assets/icons/file-excel.svg" style='height: 100px;'> -->

  </div>
</div>