.background-logo { 
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-div{
    top: 35%;
    margin-right: 5%;
}
/* .small-logo{
    background-image: url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    
} */
.img{
    margin-right: 30%;
}
.form-control{
    background-color: transparent;
    color: #535353;
    border-color: #535353;
    float: left;
    width: 80%;
    background-position: right;
    padding-right: 40px;
    background-size: 20px;

}
.usr-input{
    background-image: url("../../../assets/icons/usr.png");
}
.lock-input{
    background-image: url("../../../assets/icons/lock.png");
}
.usr-icon{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/usr.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.lock{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/lock.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* float: left; */
}
.my-btn{
    margin-left:45%;
    margin-top:20px;
    width:30%;
}