.background-logo { 
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.my-div{

}
/* .small-logo{
    background-image: url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    
} */

.form-control{
    background-color: transparent;
    color: #535353;
    border-color: #535353;


}
.usr-input{
    background-image: url("../../../assets/icons/usr.png");
}
.lock-input{
    background-image: url("../../../assets/icons/lock.png");
}
.usr-icon{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/usr.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.lock{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/lock.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* float: left; */
}

.with-shadow{
    background-color: white;
    height: 80%;
    top: 10%;
    box-shadow:  1px 3px 22px 4px rgba(128,128,128,0.63);;
}
