<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmcJWztCYo2xInukOD2bnFp-lPK-IFuCA&libraries=places" asyncdefer></script> -->


<div class="background-logo col-sm-12" [style.height.px]="imgHeight">
  <div class="col-sm-1"></div>
  <div class="row col-sm-10 with-shadow">
    <div class="col-sm-4"></div>
    <div class="my-div d-flex flex-column justify-content-center col-sm-4">
      <div class="d-flex flex-column align-items-center">

        <img src="../../../assets/images/logo.jpg" height="50px;" class="img" />


        <h2>ונתנו ידידים</h2>

        <h4>כולנו משפחה אחת</h4>

        <input type="text" name="user-name" [(ngModel)]="nvUserName" class="form-control usr-input mt-5" placeholder="שם משתמש">

        <input type="password" name="password" [(ngModel)]="nvPassword" class="form-control lock-input mt-4" placeholder="סיסמה">

        <button class="btn btn-circle1 btn-pink my-btn mt-3" (click)="logIn()">כניסה</button>
      </div>
    </div>
  </div>
</div>