.background-logo { 
   background-image:  url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-div{
    position: relative;
    height: 80%;
    /* margin-right: 5%; */
}
 /* .small-logo{
    background-image: url("../../../assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 50px;
    background-color: bisque;
    
}  */
.img{
    margin-right: 30%;
   top: 35%;
}
.form-control{
    background-color: transparent;
    color: #535353;
    border-color: #535353;
    float: left;
    width: 100%;
    background-position: right;
    padding-right: 40px;
    background-size: 20px;

}
.usr-input{
    background-image: url("../../../assets/icons/usr.png");
}
.lock-input{
    background-image: url("../../../assets/icons/lock.png");
}
.usr-icon{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/usr.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.lock{
    width: 5%;
    height: 25px;
    background-image: url("../../../assets/icons/lock.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* float: left; */
}

.with-shadow{
    background-color: white;
    height: 80%;
    top: 10%;
    box-shadow:  1px 3px 22px 4px rgba(128,128,128,0.63);
}

.my-btn{
    margin-left:30%;
    margin-top:10%;
    width:30%;
    height: auto;
    font-size: 1rem
}
h1, h5{
    text-align: center;
}
h5{
    margin-bottom: 10%;
    font-size: 1rem
}
h1{
    font-size: 2.5rem
}