<div class="row first-row">
  <div class="add-area"> 
<button class="btn-circle btn-add" (click)="addParticipants()"> הוספת משתתפים +</button>
</div>
</div>
 <!-- <div  class="addParticipants">
                <app-event-participants></app-event-participants> 
             </div>  -->
<div class="main-table">
  <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="lstDataRows"></app-vy-table>
</div>

<select > <option *ngFor="let s of sysTableRowList"  >{{s.nvValue}}</option></select>

<!-- <select value='+p.iArriveStatusType+'>
  <option *ngFor="let s of sysTableRowList1"></option>
</select> -->
<!-- <div *ngIf="flag" class="settingParticipantDelete">
  <div>
       <p>
          האם אתה בטוח שברצונך למחוק משתתף זה?
       </p>
       <button (click)="delete()">כן</button>
       <button (click)="close()">לא</button>
   </div>
</div> -->
