.settingParticipantDelete{
    position: absolute;
    z-index: 100;
    width: 20%;
    height: 100px;
    background:rgb(238, 233, 233);
    border:2px;
    top:30%;
    left: 500px;
    position: rtl;
}