<nav class="navbar navbar-expand-sm nav">
  <a class="navbar-brand tital" href="#"><img src="./assets/images/Lighthouse.jpg"></a>
  <ul class="navbar-nav" *ngIf="currentComponent">
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Student') != -1}" class="nav-item">
         <a class="closed link" routerLink='/students'>תלמידים</a>    
    </li>
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Avrechim') != -1}" class="nav-item">
      <a class="closed link" routerLink='/avrechim'>אברכים</a>
    </li>
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Events') != -1}" class="nav-item">
      <a class="closed link" routerLink='/events'>ארועים</a>
    </li>
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Graduates') != -1}" class="nav-item">
      <a class="closed link" routerLink='/graduates'>בוגרים</a>
    </li>
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Users') != -1}" class="nav-item">
      <a class="closed link" routerLink='/users'>משתמשים</a>
    </li>
    <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Settings') != -1}" class="nav-item">
      <a class="closed link" routerLink='/settings'>הגדרות</a>
    </li>
  </ul>

  <div id="t-Text_2" class="n pie label singleline autofit firer click ie-background commentable" style="float: left">
    <div class="backgroundLayer"></div>
    <div class="paddingLayer">
      <div class="content">
        <div class="valign">
          <span id="rtr-t-Text_2_0">שלום ישראל ישראלי &nbsp;<img src="./assets/icons/user.png"></span>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <div id="s-Image_1" class="pie image firer ie-background commentable" alt="image" style="left: 1088px; top: 231px;">
    <img src="PicUrl">
</div> -->
<!-- <input type="file" value="העלה תמונה" (change)="LoadImage($event,saveFile)"/> -->
<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>

<!-- <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="lstDataRows" (clickCell)="aaaa($event)"></app-vy-table> -->
