<!-- <div class="header row">
    <nav class="navbar navbar-expand-sm nav header-navbar">
        <ul class="navbar-nav navbar-list" *ngIf="currentComponent">
            <li  [ngClass]="{'select': currentComponent.constructor.name.indexOf('StudentDetails') != -1}" class="nav-item" routerLink="student-details">
              <span class="fullTab">
                 פרטים אישיים
              </span>
            </li>
            </ul>
            </nav>
            </div> -->
<div class="box" *ngIf="router.url != '/'">
  <nav class="navbar navbar-expand-sm nav">
    <div class="col-sm-1">
      <a class="navbar-brand title" href="#">
        <img src="./assets/images/logo.jpg">
      </a>
    </div>
    <!-- <div class="c"> -->
    <ul class="navbar-nav col-sm-8" *ngIf="currentComponent">
      <li [ngClass]="{'appSelect': currentComponent.constructor.name.indexOf('Student') != -1  &&router.url != '/graduates'}" class="nav-item" routerLink='/students'>

        <span>תלמידים</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('avrechim') != -1 }" class="nav-item" routerLink='/avrechim'>

        <span>אברכים</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('events') != -1}" class="nav-item" routerLink='/events'>

        <span>ארועים</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('graduates') != -1}" class="nav-item" routerLink='/graduates'>

        <span>בוגרים</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('users') != -1}" class="nav-item" routerLink='/users'>

        <span>משתמשים</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('settings') != -1}" class="nav-item" routerLink='/settings'>

        <span>הגדרות</span>
      </li>
      <li [ngClass]="{'appSelect': router.url.indexOf('settings') != -1}" class="nav-item" routerLink='/ShowImage'>

        <span>תדמית</span>
      </li>
    </ul>
    <!-- </div> -->
    <div class="col-sm-3">
      <div id="t-Text_2" (click)="goToUserDetails()" class="n pie label singleline autofit firer click ie-background commentable user"
        style="float: left">
        <div class="backgroundLayer"></div>
        <div class="paddingLayer">
          <div class="content">
            <div class="valign">
              <span id="rtr-t-Text_2_0">שלום {{userName}} &nbsp;
                <img src="./assets/icons/user.png">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <!-- <div id="s-Image_1" class="pie image firer ie-background commentable" alt="image" style="left: 1088px; top: 231px;">
    <img src="PicUrl">
</div> -->
  <!-- <input type="file" value="העלה תמונה" (change)="LoadImage($event,saveFile)"/> -->
</div>


<div class="main-page">
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</div>
