<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">ונתנו ידידים</a>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/students'>תלמידים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/avrechim'>אברכים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/events'>ארועים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/graduates'>בוגרים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/users'>משתמשים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/settings'>הגדרות</a>
      </li>
    </ul>

  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">שלום משתמש </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">התנתק</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<!-- <div id="s-Image_1" class="pie image firer ie-background commentable" alt="image" style="left: 1088px; top: 231px;">  
    <img src="resources/_jim/images/common/cross.svg">
</div>
<input type="button" value="העלה תמונה" (click)="LoudImage()"/> -->


<app-vy-table></app-vy-table>