
<div class="row first-row">
               <div class="add-area"> 
            <button class="btn-circle btn-add" (click)="addMeeting()"> הוספת פגישה +</button>
            </div>
            </div>


        <div *ngIf="meeting != null" class="meetingDetails">
                <app-student-meeting-details [sysTableRowList]="sysTableRowList" [meeting]="meeting" (UpdateMeeting)="updateMeeting($event)" (NewMeeting)="newMeeting($event)" (Close)="close()"></app-student-meeting-details> 
             </div> 

 
<div class="main-table">
 <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="meetingList"  (clickCell)="editMeeting($event)"></app-vy-table>
</div>
