
.meetingDetails{
    position: fixed;
    z-index: 100;
    top: 40%;
    right: 25%;
    background:white;
    border: 2px;
    width: 50%;
    border: solid;
 
}

img{
 /* background-image: url('../../../assets/images/pencil.png') */
 width: 2px;
 height: 2px;
 
}