<!-- <router-outlet></router-outlet> -->

<!-- <button (click)="addMeeting()">הוספת פגישה</button> -->
<div class="row first-row">
                <div class="add-area">
            <button class="btn-circle btn-add" (click)="addMeeting()"> הוספת פגישה +</button>
            </div>
            </div>


        <div *ngIf="meeting != null" class="meetingDetails">
                <app-student-meeting-details [meeting]="meeting" (Meeting)="close()"></app-student-meeting-details> 
             </div> 

 

 <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="meetingList"  (clickCell)="editMeeting($event)"></app-vy-table>
