
.meetingDetails{
    position: fixed;
    z-index: 100;
    top: 15%;
    /* height: 200px; */
    right: 25%;
    background:white;
    border: 2px;
    width: 50%;
    border: solid rgb(207, 37, 94);
   
}

img{
    width: 2px;
    height: 2px;
 
}
.btn-add{
    margin-bottom: 2%;
}
.table{
    height: 800px;
    width: 100%;
}