
<div class="row first-row">
               <div class="add-area"> 
            <button class="btn-circle btn-add" (click)="addMeeting()"> הוספת פגישה +</button>
            </div>
            </div>


        <div *ngIf="meeting != null" class="meetingDetails">
<div id="overlay"></div>
               
                <app-student-meeting-details [sysTableRowList]="sysTableRowList" [meeting]="meeting" (UpdateMeeting)="updateMeeting($event)" (NewMeeting)="newMeeting($event)" (Close)="close()"></app-student-meeting-details> 
             </div> 

 
<div class="main-table">
 <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="meetingList" (clickCell)="click($event)"></app-vy-table>
</div>


<app-vy-pop-up [isDouble]="true" [message]="message" *ngIf="flagDelete" [header]="header" (close)="flagDelete=false" (ok)="flagDelete=false; deleteMeeting(deleMeeting);"></app-vy-pop-up>

