<div class="row">
  <div class="col col-sm-8"></div>
  <div class="col col-sm-4">
    <button (click)="addDocument()" class="btn-add btn-circle">הוספת מדיה</button>
  </div>
</div>


<div class="uploadDocumentComponent" *ngIf="document!=null">
  <app-upload-document [document]="document" (closeMe)="closeDocumentDialog(true)" (closeMeNoSave)="closeDocumentDialog(false)"></app-upload-document>
</div>

  <ul>
    <li *ngFor="let d of documents" class="media-item">
      <app-media [document]="d"></app-media><br/>
      <button class="btn btn-circle"(click)="deleteDocument(d.iDocumentId)">מחק</button>
      <button class="btn btn-circle"(click)="editDocument(d.iDocumentId)">ערוך</button>
      
    </li>
  </ul>