
<div id="overlay"></div>
 <div  class="content-modal">
   <div class="close" (click)="close()">x</div>
  <span class="caption-cardsUnion">איחוד כרטיסים</span>
<div class="selects col-4 ">
  <div class="row-sm-6 row">
        <div class="form-group col-sm-6">

  <select class="form-control" (change)="student1Change($event)">
    <option>בחר תלמיד</option>
      <option *ngFor="let student of studentList" value="{{student.iPersonId}}">{{student.iPersonId}} -  {{student.nvFirstName}}  {{student.nvLastName}}</option>
    </select>

  </div>
  <div class="form-group col-sm-6">
    <select class="form-control" (change)="student2Change($event)">
    <option>בחר תלמיד</option>
        <option *ngFor="let student of studentList" value="{{student.iPersonId}}">{{student.iPersonId}} -  {{student.nvFirstName}}  {{student.nvLastName}}</option>
      </select>
</div>
  </div>
  <!-- <div class="col-sm-3"></div> -->

      <div class="row-sm-6" *ngIf="sameNameStudents==false"><span class="msg">יש לבחור שני תלמידים שונים לאיחוד</span></div>

</div>

  <button class="btn-pink1" (click)="students=true">הצג</button>

  <form *ngIf="student1&&student2&&students&&sameNameStudents" class="students" #form1>
  <div class="msg msg1"><span>שים לב ! שדות שלא יבחרו ילקחו באופן אוטומטי מהתלמיד {{student1.nvFirstName}} {{student1.nvLastName}} ,ושדות שערכם זהה לא ינתנו לבחירה</span></div>

    <div class="students-details">
      <div class="st-details col-sm-6">
          <span class="col-sm-4 fieldName" >שם פרטי:</span>
              <input type="radio" class="col-sm-1" id="st1FirstName" name="stFirstName" value="{{student1.nvFirstName}}" [(ngModel)]="student.nvFirstName" checked>
              <label  class="col-sm-3 msg" for="st1FirstName" >{{student1.nvFirstName}}</label>
              <input type="radio" class="col-sm-1" id="st2FirstName" name="stFirstName" value="{{student2.nvFirstName}}" [(ngModel)]="student.nvFirstName" [disabled]="student1.nvFirstName==student2.nvFirstName">
              <label class="col-sm-3" for="st2FirstName">{{student2.nvFirstName}}</label>
</div>
<div class="st-details col-sm-6">
    <span class="col-sm-4 fieldName">שם משפחה:</span>
        <input type="radio" class="col-sm-1 " id="st1LastName" name="stLastName" value="{{student1.nvLastName}}" [(ngModel)]="student.nvLastName" checked="checked" >
        <label class="col-sm-3 msg" for="st1LastName">{{student1.nvLastName}}</label>
        <input type="radio" class="col-sm-1" id="st2LastName" name="stLastName" value="{{student2.nvLastName}}" [(ngModel)]="student.nvLastName" [disabled]="student1.nvLastName==student2.nvLastName" >
        <label class="col-sm-3" for="st2LastName">{{student2.nvLastName}}</label>
</div>

<div class="st-details col-sm-6">
  <span class="col-sm-4 fieldName">ת.ז :</span>
      <input type="radio" class="col-sm-1 " id="st1IdentityCard" name="stIdentityCard" value="{{student1.nvIdentityCard}}" [(ngModel)]="student.nvIdentityCard" checked="checked">
      <label class="col-sm-3 msg" for="st1IdentityCard">{{student1.nvIdentityCard}}</label>
      <input type="radio" class="col-sm-1" id="st2IdentityCard" name="stIdentityCard" value="{{student2.nvIdentityCard}}" [(ngModel)]="student.nvIdentityCard"  [disabled]="student1.nvIdentityCard==student2.nvIdentityCard">
      <label class="col-sm-3" for="st2IdentityCard">{{student2.nvIdentityCard}}</label>
</div>


<div class="st-details col-sm-6">
    <span class="col-sm-4 fieldName"> טלפון:</span>
        <input type="radio" class="col-sm-1 " id="st1Phone" name="stPhone" value="{{student1.nvPhone}}" [(ngModel)]="student.nvPhone"  checked="checked">
        <label class="col-sm-3 msg" for="st1Phone">{{student1.nvPhone}}</label>
        <input type="radio" class="col-sm-1" id="st2Phone" name="stPhone" value="{{student2.nvPhone}}" [(ngModel)]="student.nvPhone" [disabled]="student1.nvPhone==student2.nvPhone">
        <label class="col-sm-3" for="st2Phone">{{student2.nvPhone}}</label>
</div>

<div class="st-details col-sm-6">
<span class="col-sm-4 fieldName"> נייד:</span>
  <input type="radio" class="col-sm-1 " id="st1Mobile" name="stMobile" value="{{student1.nvMobile}}" [(ngModel)]="student.nvMobile" checked="checked">
  <label class="col-sm-3 msg" for="st1Mobile">{{student1.nvMobile}}</label>
  <input type="radio" class="col-sm-1" id="st2Mobile" name="stMobile" value="{{student2.nvMobile}}" [(ngModel)]="student.nvMobile" [disabled]="student1.nvMobile==student2.nvMobile" >
  <label class="col-sm-3" for="st2Mobile">{{student2.nvMobile}}</label>
</div>
<div class="st-details col-sm-6">
<span class="col-sm-4 fieldName">אימייל:</span>
  <input type="radio" class="col-sm-1 " id="st1Email" name="stEmail" value="{{student1.nvEmail}}" [(ngModel)]="student.nvEmail" checked="checked">
  <label class="col-sm-3 msg" for="st1Email">{{student1.nvEmail}}</label>
  <input type="radio" class="col-sm-1" id="st2Email" name="stEmail" value="{{student2.nvEmail}}" [(ngModel)]="student.nvEmail" [disabled]="student1.nvEmail==student2.nvEmail" >
  <label class="col-sm-3" for="st2Email">{{student2.nvEmail}}</label>
</div>

<div class="st-details col-sm-6">
    <span class="col-sm-4 fieldName"> כתובת:</span>
        <input type="radio" class="col-sm-1 " id="st1Address" name="stAddress" value="{{student1.nvAddress}}" [(ngModel)]="student.nvAddress"  checked="checked">
        <label class="col-sm-3 msg" for="st1Address">{{student1.nvAddress}}</label>
        <input type="radio" class="col-sm-1" id="st2Address" name="stAddress" value="{{student2.nvAddress}}" [(ngModel)]="student.nvAddress" [disabled]="student1.nvAddress==student2.nvAddress">
        <label class="col-sm-3" for="st2Address">{{student2.nvAddress}}</label>
</div>
<div class="st-details col-sm-6">
<span class="col-sm-4 fieldName"> עיר:</span>
  <input type="radio" class="col-sm-1 " id="st1City" name="stCity" value="{{student1.nvCity}}" [(ngModel)]="student.nvCity" checked="checked">
  <label class="col-sm-3 msg" for="st1City">{{student1.nvCity}}</label>
  <input type="radio" class="col-sm-1" id="st2City" name="stCity" value="{{student2.nvCity}}" [(ngModel)]="student.nvCity" [disabled]="student1.nvCity==student2.nvCity" >
  <label class="col-sm-3" for="st2City">{{student2.nvCity}}</label>
</div>



      <div class="st-details col-sm-6">
        <span class="col-sm-4 fieldName"> תאריך הצטרפות:</span>
          <input type="radio" class="col-sm-1 " id="st1AddStudentDate" name="stAddStudentDate" value="{{student1.dtAddStudentDate}}" [(ngModel)]="student.dtAddStudentDate"  checked="checked">
          <label class="col-sm-3 msg" for="st1AddStudentDate">{{student1.dtAddStudentDate.toLocaleDateString()}}</label>
          <input type="radio" class="col-sm-1" id="st2AddStudentDate" name="stAddStudentDate" value="{{student2.dtAddStudentDate}}" [(ngModel)]="student.dtAddStudentDate" [disabled]="student1.dtAddStudentDate.toLocaleDateString()==student2.dtAddStudentDate.toLocaleDateString()" >
          <label class="col-sm-3" for="st2AddStudentDate">{{student2.dtAddStudentDate.toLocaleDateString()}}</label>
        </div>

        <div class="st-details col-sm-6">
          <span class="col-sm-4 fieldName"> תאריך יום הולדת:</span>
            <input type="radio" class="col-sm-1 " id="st1Birthdate" name="stBirthdate" value="{{student1.nvBirthdate}}" [(ngModel)]="student.nvBirthdate"  checked="checked">
            <label class="col-sm-3 msg" for="st1Birthdate">{{student1.nvBirthdate}}</label>
            <input type="radio" class="col-sm-1" id="st2Birthdate" name="stBirthdate" value="{{student2.nvBirthdate}}" [(ngModel)]="student.nvBirthdate" [disabled]="student1.nvBirthdate==student2.nvBirthdate" >
            <label class="col-sm-3" for="st2Birthdate">{{student2.nvBirthdate}}</label>
          </div>

          <div class="st-details col-sm-6">
            <span class="col-sm-4 fieldName">  תאריך פטירת  האב:</span>

            <input type="radio" class="col-sm-1 " id="st1FatherDeathDate" name="stFatherDeathDate" value="{{student1.nvFatherDeathDate}}" [(ngModel)]="student.nvFatherDeathDate"  checked="checked">
            <label *ngIf="student1.bDeathFather==false" class="col-sm-3 msg" for="st1FatherDeathDate">האב חי</label>
            <label *ngIf="student1.bDeathFather==true" class="col-sm-3 msg" for="st1FatherDeathDate">{{student1.nvFatherDeathDate}}</label>
              <input type="radio" class="col-sm-1" id="st2FatherDeathDate" name="stFatherDeathDate" value="{{student2.nvFatherDeathDate}}" [(ngModel)]="student.nvFatherDeathDate"  [disabled]="student1.nvFatherDeathDate==student2.nvFatherDeathDate||student1.bDeathFather==false&&student2.bDeathFather==false"/>
              <label *ngIf="student2.bDeathFather==false" class="col-sm-3" for="st2FatherDeathDate">האב חי</label>
              <label *ngIf="student2.bDeathFather==true" class="col-sm-3" for="st2FatherDeathDate">{{student2.nvFatherDeathDate}}</label>
            </div>

            <div class="st-details col-sm-6">
              <span class="col-sm-4 fieldName">  תאריך פטירת  האם:</span>
                <input type="radio" class="col-sm-1 " id="st1MotherDeathDate" name="stMotherDeathDate" value="{{student1.nvMotherDeathDate}}" [(ngModel)]="student.nvMotherDeathDate"  checked="checked">
                <label *ngIf="student1.bDeathMother==true" class="col-sm-3 msg" for="st1MotherDeathDate">{{student1.nvMotherDeathDate}}</label>
                <label *ngIf="student1.bDeathMother==false" class="col-sm-3 msg" for="st1MotherDeathDate">האם חיה</label>
                <input type="radio" class="col-sm-1" id="st2MotherDeathDate" name="stMotherDeathDate" value="{{student2.nvMotherDeathDate}}" [(ngModel)]="student.nvMotherDeathDate"  [disabled]="student1.nvMotherDeathDate==student2.nvMotherDeathDate||student1.bDeathMother==false&&student2.bDeathMother==false"/>
                <label  *ngIf="student2.bDeathMother==true" class="col-sm-3" for="st2MotherDeathDate">{{student2.nvMotherDeathDate}}</label>
                <label  *ngIf="student2.bDeathMother==false" class="col-sm-3" for="st2MotherDeathDate">האם חיה</label>
              </div>

              <div class="st-details col-sm-6">
                <span class="col-sm-4 fieldName"> הערות:</span>
                  <input type="radio" class="col-sm-1 " id="st1Comment" name="stComment" value="{{student1.nvComment}}" [(ngModel)]="student.nvComment" checked="checked">
                  <label class="col-sm-3 msg" for="st1Comment">{{student1.nvComment}}</label>
                  <input type="radio" class="col-sm-1" id="st2Comment" name="stComment" value="{{student2.nvComment}}" [(ngModel)]="student.nvComment" [disabled]="student1.nvComment==student2.nvComment" >
                  <label class="col-sm-3" for="st2Comment">{{student2.nvComment}}</label>
                </div>

                <div class="st-details col-sm-6">
                  <span class="col-sm-4 fieldName"> תמונה:</span>
                    <input type="radio" class="col-sm-1 " id="st1pct" name="stImg"  [(ngModel)]="student.nvImgStudent" checked="checked">
                    <img class="imgStudent" *ngIf="student1.nvImgStudent"  [src]="baseFileUrl + student1.nvImgStudent">
                    <input type="radio" class="col-sm-1" id="st2pct" name="stImg" value="{{student2.nvImgStudent}}" [(ngModel)]="student.nvImgStudent" [disabled]="student1.nvImgStudent==student2.nvImgStudent" >
                    <img class="imgStudent" *ngIf="student1.nvImgStudent"  [src]="baseFileUrl + student2.nvImgStudent">
                  </div>
                  <!-- value="{{student1.nvImgStudent}}" -->

                  <button type="submit" class="btn-pink1 ok" (click)="unionOk()">אחד</button>

</div>
  </form>
