*{
    float: right;
}
.add-student{
    position: absolute;
    border: 1px solid rgb(175, 175, 175);
    width: 80%;
    height: 80%;
    padding: 0.5% 1.5%;
    background-color: white;
    z-index: 999;
    top:10%;
    right: 10%;
}
.Student-affiliation{
font-weight: bold;
font-size: 25px;
width: 100%;
text-align: right;
margin-bottom: 2%;
} 
button{
    float: left;
    border-radius:30px;
    width:75px;
    margin-left:10px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-pink1{
    background-color: white;
    border: 1px rgb(207, 37, 94) solid;
    color: rgb(207, 37, 94);

}
.btn-pink2{
    background-color: rgb(207, 37, 94);
color: white;
}
.btn-add
{
/* height: 80%;*/
width: 10%; 
/* float: left; */
border: 1px solid rgb(207, 37, 94);
border-radius: 20px;
text-align: center;
text-decoration: none;
padding-top: 5px;
cursor: pointer;
color: rgb(207, 37, 94);
margin-bottom:2%; 
}

.ok{
    margin-top: 3%;

}
.students{
    margin-right: 0px;
    margin-top: 5%;
    width: 100%;
    /* background-color: #ccc; */
    height: 70%;
}
.student{
    /* margin-right: 0px; */
    /* margin-top: 5%; */
    width: 48%;
    /* margin-right: 10%; */
    height: 100%;
    /* background-color: white; */
    overflow-y: scroll;
}
.st1{
    border-left: 2px solid #ccc;
}
.st-details{
    width: 50%;
    height: 10%;
}
label,span{
    text-align: right;
}
.students-details{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
 .close{

margin-bottom: 2%; 
}   