.upload-document{
    width: 50%;
    height: 300px;
    border: 1px solid #ccc;
    margin: auto;
}
#LoadDocument{
    display: none;
}
/* .documentName{
    width: 80px;
    height: 40px;
    border: 1px solid black;
} */

.content{
    padding: 3%;
    padding-right: 15%;

}


button{
    margin-top:  4%;
    margin-left: 4%;
}
.browse{
    border: 1px solid #d8d8d8;
    color: black;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #d8d8d8;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
#documentName{
    height: 60px;
    padding-top: 7px;
    text-align: right;
    color:blue;
}
h3{
    text-align: right;
    padding-right: 15%;
}
.form-group.documentName{
    width: 60%;
}
.checkbox {
  margin-top: 1%;
  margin-left: 1%;
}
.form-group{
    width: 35%;
}
button[disabled]
{
    background-color: rgb(228, 147, 174);
    cursor: not-allowed;
}