.cell{
    /* height: 50px; */
    /* border: 1px solid gray; */
    padding: 10px;
    text-align: right;
}

.cell-title,small-title{
  background:  rgb(59, 45, 45);
  opacity: 0.9;
  color: #ccc;
  border-bottom: 3px solid #cf255e;
 -moz-border-bottom-colors: #cf255e  rgb(207, 37, 94);
}
.even{
  background-color: #eaecee;  
}
.small-title{
  height: 90%;
  border-left: 1px solid #808080;

}
.cell-filter{
  opacity: 0.5;
}

.vy-filter-search {
  background: white url("./../../../assets/icons/search.png") left no-repeat;
}

.vy-table{
  height: 100%;
}

.vy-filter-row{
  margin-right: -15px;
  margin-left: -15px;
}

.vy-tbody{
  overflow: auto;
  margin-right: -15px;
  margin-left: -15px;
  height: calc(100% - 104px);
}

.vy-row{
  margin: 0;
}


.sammary-rows{
  float: right;
}

.pagination{
  float: left;
  direction: ltr;
}

.pagination-page{
  padding: 4px;
}

.pagination-current-page{
  text-decoration: underline;
  color: rgb(207, 37, 94);
}
