<div style="margin: 0 80px">
  <div class="row">
    <div *ngFor="let col of lstColumns" class="col cell cell-title" [ngStyle]="col.titleStyle">
      {{col.title}}
    </div>
  </div>

  <div class="row">
    <div *ngFor="let col of lstColumns" class="col cell cell-filer" [ngStyle]="col.filterStyle">
      <input type="text" [(ngModel)]="col.filter" class="form-control">
    </div>
  </div>

  <div *ngFor="let row of lstDataRows | vyTableFilter : lstColumns" class="row">
    <div *ngFor="let col of lstColumns" class="col cell" [ngStyle]="col.cellStyle" >
      {{row[col.name]}}
    </div>
  </div>

</div>