<div style="margin: 0 80px" id="testTable">
  <div class="row">
    <div *ngFor="let col of lstColumns" class="col cell cell-title" [ngStyle]="col.titleStyle">
      <div class="small-title">
        {{col.title}}
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let col of lstColumns" class="col cell cell-filter" [ngStyle]="col.filterStyle">
      <input type="text" [(ngModel)]="col.filter" class="form-control" id="search">
    </div>
  </div>
<!-- 
  <div *ngFor="let row of lstCurrentDataRows | vyTableFilter : lstColumns | vyTableOrderBy : lstOrderByFields; let i = index"
    [ngClass]="{'even': i%2 == 0}" class="row"> -->
    <div *ngFor="let row of lstDataRows | vyTableFilter : lstColumns | vyTableOrderBy : lstOrderByFields; let i = index" [ngClass]="{'even': i%2 == 0}"
    class="row">
    <div *ngFor="let col of lstColumns" class="col cell" [ngStyle]="col.cellStyle" (click)="col.bClickCell ? clickCellFunc(row, col.name): ''">
      <div *ngIf="col.type == 'html'" [innerHtml]="row[col.name]"></div>
      <div *ngIf="col.type != 'html'"> {{row[col.name]}} </div>
    </div>
  </div>
</div>




<!-- <div *ngIf="lstDataRows">

  <span (click)="iEndNumRow != lstDataRows.length ? moveToPage((lstDataRows.length / iCountRows)-1) : ''" [ngStyle]="{'color': (iEndNumRow == lstDataRows.length ? 'gray' : 'black')}" title="לסוף"><<</span>

  <span (click)="iEndNumRow != lstDataRows.length ? moveToPage(currentPage + 1) : ''" class="pagination-page" [ngStyle]="{'color': (iEndNumRow == lstDataRows.length ? 'gray' : 'black')}" title="הבא"><</span> 

  <span *ngFor="let i of lstPagesNum" (click)="i != currentPage ? moveToPage(i) : ''" class="pagination-page" [ngClass]="{'pagination-current-page': i == currentPage}">{{i+1}}</span>

  <span (click)="currentPage != 0 ? moveToPage(currentPage - 1) : ''" class="pagination-page" [ngStyle]="{'color': (currentPage == 0 ? 'gray' : 'black')}" title="הקודם">></span>

  <span (click)="currentPage != 0 ? moveToPage(0) : ''" [ngStyle]="{'color': (currentPage == 0 ? 'gray' : 'black')}" title="להתחלה">>></span>

</div> -->