<div class="form ">
  <div class="row ">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <button class="btn-circle btn-save" (click)="save()">שמור v </button>
      <button class="btn-circle btn-close" (click)="close()">סגור x </button>
    </div>
  </div>
  <div class="content">
    <div class="row ">
      <div *ngIf="meeting.iMeetingId">
        <h3>עריכה </h3>
      </div>
      <div *ngIf="meeting.iMeetingId==null">
        <h3>פגישה חדשה </h3>
      </div>
    </div>
    <div class="row ">

        <input type="number" id="meetingType" [(ngModel)]="meeting.iMeetingType" class="form-control" />
      <div class="form-group">
        <label for="nvMeetingType">סוג פגישה</label>
        <input type="text" id="nvMeetingType" [(ngModel)]="meeting.nvMeetingType" class="form-control" />
      </div>
      <!-- <select>
        <option *ngFor="let s of sysTableRowList">
          {{s.nvValue}}
        </option>
      </select> -->

      <div class="form-group ">
        <label for="date">תאריך:</label>
        <input type="date" class="form-control" name="date" id="date" [ngModel]="meeting.dtMeetingDate | date: 'yyy-mm-dd'" (ngModelChange)="e.dtEventDate = $event" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group ">
        <label for="time">שעה:</label>
        <input type="time" class="form-control" id="time" [ngModel]="meeting.dtMeetingDate | date:'shortTime'" (ngModelChange)="e.dtEventDate = $event"   [ngModelOptions]="{standalone: true}">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label for="nvSummary"> סיכום</label>
        <input type="text" class="form-control" id="nvSummary" [(ngModel)]="meeting.nvSummary" [ngModelOptions]="{standalone: true}">
      </div>

    </div>
  </div>
</div>

