.content{
    padding:7%;
    /* padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%; */

}


button{
    margin-top:  4%;
    margin-left: 4%;
}

/* .row1{
    margin-left: 5%;
    margin-right: 5%;
} */


/* .last-row{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 12%;
} */


