<form class="meetingform">

  <button  (click)="save()">שמור</button>
  <button (click)="close()">ביטול</button>
  <div *ngIf="meeting.iMeetingId">
    <h1>עריכה </h1>
  </div>
  <div *ngIf="meeting.iMeetingId==null">
    <h1>פגישה חדשה </h1>
  </div>
  <div class="row row1">
  <div class="form-group col-sm-4">
    <label for="meetingTyp">סוג פגישה</label>
    <input type="number" class="form-control" id="meetingType" [(ngModel)]="meeting.iMeetingType" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-sm-4">
    <label for="date">תאריך:</label>
    <input type="date" class="form-control" id="date" [(ngModel)]="meeting.dtMeetingDate"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-sm-4">
      <label for="time">שעה:</label>
      <input type="time" class="form-control" id="time" [(ngModel)]="meeting.dtMeetingDate"  [ngModelOptions]="{standalone: true}">
    </div>
  
</div>
<div class=" row row1">
<div class="form-group col-sm-12 ">
    <label for="nvSummary"> סיכום</label>
    <input type="text" class="form-control" id="nvSummary" [(ngModel)]="meeting.nvSummary" [ngModelOptions]="{standalone: true}" style="height: 100px;">
  </div>
</div>
</form>