<div class="form ">
  <div class="row ">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <button class="btn-circle btn-save" (click)="save()">שמור v </button>
      <button class="btn-circle btn-close" (click)="close()">סגור x </button>
    </div>
  </div>
  <div class="content">
    <div class="row ">
      <div *ngIf="meeting.iMeetingId">
        <h3>עריכה </h3>
      </div>
      <div *ngIf="meeting.iMeetingId==null">
        <h3>פגישה חדשה </h3>
      </div>
    </div>
    <div class="row ">

      <div class="form-group">
        <label for="nvMeetingType">סוג פגישה</label>
        <select [(ngModel)]="meeting.iMeetingType" >
          <option *ngFor='let s of sysTableRowList' [value]="s.iSysTableRowId" >
            {{s.nvValue}}
          </option>
        </select>
      </div>
     
      <div class="form-group ">
        <label for="date">תאריך:</label>
        <input type="date" class="form-control" name="date" id="date" [ngModel]="meeting.dtMeetingDate | date:'yyyy-MM-dd'" (ngModelChange)="meeting.dtMeetingDate = $event"
          [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group ">
        <label for="time">שעה:</label>
        <input type="mediumTime" class="form-control" id="time" [ngModel]="meeting.dtMeetingDate | date:'h:mm:ss a'" (ngModelChange)="e.dtEventDate = $event"
          [ngModelOptions]="{standalone: true}">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label for="nvSummary"> סיכום</label>
        <input type="text" class="form-control" id="nvSummary" [(ngModel)]="meeting.nvSummary" [ngModelOptions]="{standalone: true}">
      </div>
      <app-task></app-task>

    </div>
  </div>
</div>