<div id="overlay"></div>
<form class="form" #form="ngForm">
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <button class="btn-circle btn-save" (click)="save()">שמור v </button>
      <button class="btn-circle btn-close" (click)="close()">סגור x </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row title">
        <div *ngIf="from != 1">
          <h3>עריכה </h3>
        </div>
        <div *ngIf="from ==1">
          <h3>אירוע חדש</h3>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label for="event-name">שם אירוע:</label>
          <!-- <input type="text" name="event-name" class="form-control" required #eventName="ngModel" [(ngModel)]="event.nvName" /> -->
          <select [(ngModel)]="event.nvPlace" class="form-control" #place="ngModel" name="place" required (ngModelChange)="chooseEvent($event)">
            <!-- [disabled]="isManeger == false" -->
            <option [value]="0" >בחר</option>
            <!-- [selected]="item.nvName==undefined" -->
            <option [value]="item.nvName" *ngFor="let item of eventsList" [selected]="item.nvName==event.nvName">{{item.nvName}}</option>
          </select>
          <div *ngIf="place.invalid && (place.dirty || place.touched)">
            <div class="text-danger" *ngIf="place.errors && (place.errors.required)">שדה זה חובה!</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="event-date">תאריך:</label>
          <input type="date" name="event-date" class="form-control" disabled required #date="ngModel" [ngModel]="event.dtEventDate | date:'yyyy-MM-dd'"
            (ngModelChange)="e.dtEventDate = $event" />
          <div *ngIf="date.invalid && (date.dirty || date.touched)">
            <div class="text-danger" *ngIf="date.errors && (date.errors.required)">שדה זה חובה!</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="event-place">מקום:</label>
          <input type="text" name="event-place" class="form-control" disabled required #place="ngModel" [(ngModel)]="event.nvPlace"
          />
          <div *ngIf="place.invalid && (place.dirty || place.touched)">
            <div class="text-danger" *ngIf="place.errors && (place.errors.required)">שדה זה חובה!</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="status">סטטוס:</label>
          <select [(ngModel)]="event['iArrivalStatusType']" class="form-control" #status="ngModel" name="status" required>
            <!-- [disabled]="isManeger == false" -->
            <option [value]="0" selected>בחר</option>
            <option [value]="item.iSysTableRowId" *ngFor="let item of lst" [selected]="item.iSysTableRowId==event['iArrivalStatusType']">{{item.nvValue}}</option>
          </select>
          <div *ngIf="status.invalid && (status.dirty || status.touched)">
            <div class="text-danger" *ngIf="status.errors && (status.errors.required)">שדה זה חובה!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>