<div class="row  body" *ngIf="currentTask">
<div class="col">
    <div class="row-sm-6 row">
        <div class="form-group col-sm-3">
      <label for="taskType">סוג משימה</label>
      <select name="taskType" class="form-control" name="taskType"  *ngIf="taskTypeList" [(ngModel)]="task.iTaskType" (change)="changeType()">
        <option *ngFor="let type of taskTypeList" [value]="type['iSysTableRowId']">{{type['nvValue']}}</option>
      </select>
    </div>
  
      <div class="form-group col-sm-3" *ngIf="sysTableList">
      <label for="types">סוג {{taskType}}</label>
      <select name="types" class="form-control" name="types"  [(ngModel)]="iTasOrConType">
        <option *ngFor="let s of sysTableList" [value]="s['iSysTableRowId']">{{s['nvValue']}}</option>
      </select>
  
    </div>
  
    </div>
    <div class="row-sm-6 row">
        <div class="form-group col-sm-3" >
      <label for="dtDate">תאריך</label>
  
      <input class="form-control" [(ngModel)]="currentTask.dtDate"  ngui-datetime-picker date-only="true" close-on-select="false" id="dtDate" name="dtDate">
  
    </div>
    <div *ngIf="currentTask && currentTask['dtHour']" class="form-group col-sm-3">
      <label for="taskTime">שעה</label>
      <input type="time" class="form-control" id="time" name="taskTime" [(ngModel)]="currentTask.dtHour" [ngModelOptions]="{standalone: true}" />
    </div>
    <div *ngIf="taskStu" class="form-group col-sm-3 row">
        <label for="yeshivaName"  style="width: 100px;"> תלמיד </label>
        <div >
          <select class="form-control" id="studentId" name="studentName" [(ngModel)]="task.iStudentId">
            <option disabled> בחר </option>
            <option *ngFor="let s of studentsList" [value]="s.iPersonId">{{s.nvFirstName}} {{s.nvLastName}}</option>
        </select>
        </div>
    </div>
    </div>
</div>
  <div class="row col-sm-12">
    <div class="form-group col-sm-10">
      <label for="commenst">הערה</label>
      <textarea name='comment' class="form-control" [(ngModel)]="task.nvComments" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
  </div>

</div>


