<!-- <div class="row first-row"> 
  <div class="add-area">
    <button  class="btn-circle btn-add"> הוסף תלמיד +</button>
  </div>
</div> -->
<button (click)="flag=true" class="btn-add btn-circle">הוסף תלמיד +</button>

<div *ngIf="flag==true" class="add-student">

  <span class="Student-affiliation">שיוך תלמידים</span>
  <button (click)="cancelAdd()" class="btn-close">סגור x</button>
  <button (click)="saveAdd()" class="btn-save"> v שמור</button>
  <div class="col-sm-8 my-div">
    <app-vy-multy-select #child [fullList]="listToSelect" [titleStr]="title" [inputTitle]="inputTitle" (onSave)="getFromChild($event)"></app-vy-multy-select>
  </div>
</div>

<div class="row">
  <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="allStudents" (clickCell)="deleteStudent($event)"></app-vy-table>
</div>