*{
      float: right;
}
.add-student{
   position: absolute; 
   margin-bottom:25%;  
   margin-right: 15%;
    border:1px solid rgb(175, 175, 175);
     width: 35%;
      height: 100%;
      padding: 50px;
      background-color: white;
      z-index: 999;
}
.Student-affiliation{
font-weight: bold;
} 

.my-div {
      margin-top: 1.5vw;
    margin-right: 6vw;
}
button{
       /* margin-top:  4%; */
      margin-left: 4%; 
      margin-bottom: 2%;
  }
/* button{
      float: left;
      border-radius:30px;
      width:75px;
      margin-left:10px;
      color: white;
      border: none;
} */
/* .btn-close{
      background-color: white;
      border: 1px rgb(207, 37, 94) solid;
      color: rgb(207, 37, 94);
}

.btn-add
{
width: 10%; 
border: 1px solid rgb(207, 37, 94);
border-radius: 20px;
text-align: center;
text-decoration: none;
padding-top: 5px;
cursor: pointer;
color: white;
margin-bottom:2%; 
} */

.buttons{
    width:100%;
    margin-bottom: 5%;
}