<!-- <div class="row first-row"> 
  <div class="add-area">
    <button  class="btn-circle btn-add"> הוסף תלמיד +</button>
  </div>
</div> -->
<!-- <div id="overlay"></div> -->
<button (click)="openAdd();" class="btn-add btn-circle">הוסף תלמיד</button>

<div *ngIf="flag==true" class="add-student">

  <span class="Student-affiliation">שיוך תלמידים</span>
  <button (click)="cancelAdd()" class="btn-close">סגור </button>
  <button (click)="saveAdd()" class="btn-save">  שמור</button>
  <!-- <div class="col-sm-8 my-div">
    <app-vy-multy-select #child [fullList]="listToSelect" [titleStr]="title" [inputTitle]="inputTitle" (onSave)="getFromChild($event)"></app-vy-multy-select>
  </div> -->
  <div class="main-table">
    <app-vy-table [lstColumns]="Columns" [lstDataRows]="listToSelect" ></app-vy-table>
  </div>
</div>

<div class="main-table">
  <app-vy-table [lstColumns]="lstColumns" [lstDataRows]="allStudents" (clickCell)="del($event)"></app-vy-table>
</div>


<app-vy-pop-up [isDouble]="true" [message]="message" *ngIf="delFlag" [header]="header" (close)="delFlag=false" (ok)="delFlag=false; deleteStudent(studentToDel);"></app-vy-pop-up>