*{
      float: right;
}
.add-student{
   position: absolute; 
   margin-bottom:25%;  
   margin-right: 15%;
    border:1px solid rgb(175, 175, 175);
     width: 35%;
      height: 25%;
      padding: 50px;
      background-color: white;
      z-index: 999;
}
.Student-affiliation{
font-weight: bold;
} 
button{
      float: left;
      border-radius:30px;
      width:75px;
      margin-left:10px;
      color: white;
      border: none;
}
 .btn-pink1{
      background-color: white;
      border: 1px rgb(207, 37, 94) solid;
      color: rgb(207, 37, 94);
 
}
.btn-pink2{
      background-color: rgb(207, 37, 94);
color: white;
}
.btn-add
{
/* height: 80%;*/
width: 10%; 
/* float: left; */
border: 1px solid rgb(207, 37, 94);
border-radius: 20px;
text-align: center;
text-decoration: none;
padding-top: 5px;
cursor: pointer;
color: rgb(207, 37, 94);
margin-bottom:2%; 
}