
<button (click)="flag=true">הוסף תלמיד</button>
<div *ngIf="flag==true"  class="addStudent">
  <span>שיוך תלמידים</span>
  <button (click)="cancelAdd()">ביטול</button>
  <button (click)="saveAdd()">שמירה</button>
  <app-vy-multy-select [fullList]="allStudents" (onSave)="getFromChild($event)"></app-vy-multy-select>
</div>
<p>
  avrech-students works!
</p>
<ul>
  <li *ngFor="let s of students">{{s.iPersonId}} {{s.nvFirstName}} {{s.nvLastName}} <button (click)="deleteStudent(s.iPersonId)">מחק</button></li>
</ul>
